version: '3'

services:
  web:
    container_name: dataportal
    restart: always
    env_file:
      - .env
    # PORTAL_BRANCH is environment variable stored in .env file while initial deploy using ansible
    image: registry.gitlab.ics.muni.cz:443/europdx/dataportal/dataportal-sourcecode:release-2.0
    ports:
      - 8080:8080
    expose:
      - 8080
    volumes:
      - ./import-data:/import-data
  neo4j:
    image: neo4j:3.2
    restart: always
    container_name: neo4j
    env_file:
      - .env
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - neodata:/data/
      - ./neo4j-data:/neo4j-data
  proxy:
    container_name: proxy
    restart: always
    env_file:
      - .env
    # PORTAL_BRANCH is environment variable stored in .env file while initial deploy using ansible
    image: registry.gitlab.ics.muni.cz:443/europdx/dataportal/dataportal-docker/proxy:${PORTAL_BRANCH}
    volumes:
      - ./proxy/ssl:/etc/apache2/ssl
      - ./proxy/mellon:/etc/apache2/mellon
    ports:
      - "80:80"
      - "443:443"

volumes:
  neodata:

networks:
  default:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: 1442
